In [72]:
import pandas as pd
import numpy as np
import requests
import pdfplumber

In [85]:
pdf_file = pd.read_csv('sh.csv', encoding='utf-8')
pdf_file.shape

(2326, 7)

In [88]:
pdf_file.head()

,时间2,公司代码,函件类别,公司简称,函件类型,网址,函件编码
0,2021-07-26 18:10:01,600872,问询函,中炬高新,pdf,www.sse.com.cn/disclosure/credibility/supervis...,8142881902368649
1,2021-07-26 17:10:02,600811,重大资产重组预案审核意见函,东方集团,pdf,www.sse.com.cn/disclosure/credibility/supervis...,8142881895334327
2,2021-07-26 17:10:01,600277,问询函,亿利洁能,pdf,www.sse.com.cn/disclosure/credibility/supervis...,8142881902318601
3,2021-07-21 22:50:01,603306,问询函,华懋科技,pdf,www.sse.com.cn/disclosure/credibility/supervis...,8142820810585438
4,2021-07-21 22:00:01,688096,问询函,京源环保,pdf,www.sse.com.cn/disclosure/credibility/supervis...,8142820816935509

In [46]:
pdf_file['函件类别'].value_counts()

问询函              830
定期报告事后审核意见函      518
重大资产重组预案审核意见函    435
并购重组审核意见函        297
定期报告信息披露监管问询函    165
年报审核问询函           80
监管工作函              1
Name: 函件类别, dtype: int64

In [55]:
ser1 = pd.DataFrame(pdf_file['函件类别'].value_counts().rename('数量'), columns=['数量'])
ser1

                数量
问询函            830
定期报告事后审核意见函    518
重大资产重组预案审核意见函  435
并购重组审核意见函      297
定期报告信息披露监管问询函  165
年报审核问询函         80
监管工作函            1

In [ ]:
for i in range(pdf_file.shape[0]):
    numm = str(pdf_file['函件编码'][i])
    url = 'http://' + pdf_file['网址'][i]
    r = requests.get(url)
    file_name = f'{numm}.pdf'
    with open(f"问询函pdf/{file_name}", "wb") as code:
         code.write(r.content)

In [6]:
for i in range(pdf_file.shape[0]):
    numm = str(pdf_file['函件编码'][i])
    try:
        with pdfplumber.open(f'问询函pdf/{numm}.pdf') as pdf:
            for page in pdf.pages:
                text = page.extract_text()
                text_file = open(f'问询函_txt/{numm}.txt', mode='a', encoding='utf-8')
                text_file.write(text)
    except:
        pass

In [82]:
topic_result = pd.read_csv('topic_result.csv')
topic_result

      Unnamed: 0              函件编码  主题
0              0  8142881902368649   4
1              1  8142881895334327   4
2              2  8142881902318601   4
3              3  8142820810585438   4
4              4  8142820816935509   4
...          ...               ...  ..
2321        2321           4118998   4
2322        2322           4118976   4
2323        2323           4118987   4
2324        2324           4119009   2
2325        2325           4118988   4

[2326 rows x 3 columns]

In [56]:
ser2 = pd.DataFrame(topic_result['主题'].value_counts().rename('数量'), columns=['数量'])
ser2

     数量
4  2214
0    53
3    27
2    24
1     8

In [18]:
topic_top20words = pd.read_csv('topic_top20words')
topic_top20words

   Unnamed: 0  topic                                        top20_words
0           0      0  股票上市 董事会 总股本 高送转 核实 转增股本 知情人 方案 议案 收函 书面形式 含税 ...
1           1      1  战略 德合 小微企业 德信 典当 金融 经营权 贷款人 产权交易 委托人 产业链 部分股权 ...
2           2      2  项目 内容 投项 失败率 产量 油价 流动资金 股权融资 哈萨克斯坦证券交易所 漏损 能源行...
3           3      3  基准日 定价 预案 均价 交易日 股票交易 资质 债权人 股份发行 办理 书面 问题 价格 ...
4           4      4  公司 情况 原因 标的 交易 资产 合理性 报告期 会计师 业务 格式 预案 计提 净利润 ...

In [89]:
pdf_file['主题'] = topic_result['主题']
pdf_file.head()

,时间2,公司代码,函件类别,公司简称,函件类型,网址,函件编码,主题
0,2021-07-26 18:10:01,600872,问询函,中炬高新,pdf,www.sse.com.cn/disclosure/credibility/supervis...,8142881902368649,4
1,2021-07-26 17:10:02,600811,重大资产重组预案审核意见函,东方集团,pdf,www.sse.com.cn/disclosure/credibility/supervis...,8142881895334327,4
2,2021-07-26 17:10:01,600277,问询函,亿利洁能,pdf,www.sse.com.cn/disclosure/credibility/supervis...,8142881902318601,4
3,2021-07-21 22:50:01,603306,问询函,华懋科技,pdf,www.sse.com.cn/disclosure/credibility/supervis...,8142820810585438,4
4,2021-07-21 22:00:01,688096,问询函,京源环保,pdf,www.sse.com.cn/disclosure/credibility/supervis...,8142820816935509,4

In [84]:
pdf_file.columns

Index(['时间2', '公司代码', '函件类别', '公司简称', '函件类型', '网址', '函件编码', '主题'], dtype='object')

In [57]:
ser3 = pd.DataFrame(pdf_file[pdf_file['函件类别'] == '问询函']['主题'].value_counts().rename('数量'), columns=['数量'])
ser3

    数量
4  740
0   52
2   22
3   10
1    6

In [58]:
ser4 = pd.DataFrame(pdf_file[pdf_file['函件类别'] == '定期报告事后审核意见函']['主题'].value_counts().rename('数量'), columns=['数量'])
ser4

    数量
4  517
1    1

In [59]:
ser5 = pd.DataFrame(pdf_file[pdf_file['函件类别'] == '重大资产重组预案审核意见函']['主题'].value_counts().rename('数量'), columns=['数量'])
ser5

    数量
4  424
3    9
2    1
1    1

In [60]:
ser6 = pd.DataFrame(pdf_file[pdf_file['函件类别'] == '并购重组审核意见函']['主题'].value_counts().rename('数量'), columns=['数量'])
ser6

    数量
4  288
3    8
2    1

In [61]:
ser7 = pd.DataFrame(pdf_file[pdf_file['函件类别'] == '定期报告信息披露监管问询函']['主题'].value_counts().rename('数量'), columns=['数量'])
ser7

    数量
4  165

In [62]:
ser8 = pd.DataFrame(pdf_file[pdf_file['函件类别'] == '年报审核问询函']['主题'].value_counts().rename('数量'), columns=['数量'])
ser8

   数量
4  80

In [63]:
ser9 = pd.DataFrame(pdf_file[pdf_file['函件类别'] == '监管工作函']['主题'].value_counts().rename('数量'), columns=['数量'])
ser9

   数量
0   1

In [66]:
topic0 = pd.read_csv('topic0_top20words.csv')
topic1 = pd.read_csv('topic1_top20words.csv')
topic2 = pd.read_csv('topic2_top20words.csv')
topic3 = pd.read_csv('topic3_top20words.csv')
topic4 = pd.read_csv('topic4_top20words.csv')